BODY {
  font-family: sans-serif;
  font-size: 12px;
  background-image: url(../bg/weave.gif);
  background-color: black;
  color: white;
}

DIV,PRE 
{
	text-align: left;
	font-size: 8pt;
	background: #f7f7f7;
	border: 1px solid #ddc;
 /*overflow: auto;	white-space: nowrap; max-width: 95%; */
	margin: 5px;
	padding: 5px;
	font-family: "Lucida Console", Monaco, monospace;
}

H1 {
  font-size: 18px;
}

H2 {
  font-size: 16px;
}

H3 {
  font-size: 14px;
}

HR {
  background-color: #7a8ff8;
  color: #7a8ff8;
  border-width: 0;
  width: 100%;
}

TABLE {
  background-color: white;
  font-family: sans-serif;
  font-size: 12px;
  color: black;
  border-style: none;
}

TABLE.main {
  border-style: solid;
  border-color: #7a8ff8;
  border-width: 3px;
  border-left: none;
  border-right: none;
}

TABLE.captions {
  border-style: solid;
  border-width: 1px;
  border-color : #7a8ff8;
 text-align: center;
}

SPAN.caption {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: bold;
}

TR.captions {
  border: none;
}

TD.captions {
  border-style: solid;
  border-width: 1px;
  border-color : #7a8ff8;
  text-align: center;
}

TABLE.bulk {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

TD.main {
  border-style: solid;
  border-color: #7a8ff8;
  border-width: 3px;
  border-left: none;
  border-top: none;
  border-right: none;
  text-align: right;
  background-color: #07108D;
}

TD.menu {
  border-style: solid;
  border-color: #7a8ff8;
  border-width: 3px;
  border-left: none;
  border-top: none;
  border-right: none;
  text-align: right;
  background-color: #e0d0b0;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

TD.menu A {
  color: black;
  text-decoration: none;
}

TD.menu A:hover {
  color: black;
  font-weight: bold;
  background-color: #f7f7ec;
}

TD.sidemenu {
  font-size: 10px;
  border-style: solid;
  border-color: #7a8ff8;
  border-width: 10;
  border-left: none;
  border-top: none;
  border-right: none;
  text-align: left;
  background-color: #e0d0b0;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

TD.sidemenu A {
  color: blue;
  text-decoration: none;
}

TD.sidemenu A:hover {
  color: blue;
  font-weight: bold;
  background-color: #f7f7ec;
}

TABLE.gallery {
  background-color: white;
  text-align: center;
  font-size: 11px;
}

TD.gallery {
  border-style: solid;
  border-color: white;
}

IMG.gallery {
  border-style: solid;
  border-color: black;
}

IMG {
  border-style: none;
}

A {
  color: blue;
  text-decoration: none;
}

A:hover {
  color: blue;
  font-weight: bold;
}
